{% extends "layout.html" %}



{% block content %}
<a class="btn btn-primary mb-4" href="{% url 'tweet_list' %}">Create Tweet</a>
<div class="container row">
    {% for tweet in tweets %}
    <div class="card" style="width: 18rem;">
        <img src="{{tweet.photo.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{tweet.user.username}}</h5>
          <p class="card-text">{{tweet.tweet}}</p>
          <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
          <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}